body{
    background-color: rgb(122, 192, 170);
}

.smallbox{
    background-color: white;
    padding: 40px 10px;
    text-align: center;
}

i{
    color:rgb(49, 32, 240);
}

.cont{
    margin: 20px 0px;
}

a{
    border-bottom: 2px solid rgb(70, 70, 231);
}

.box{
    padding: 60px 10px;
}

.box-1{
    padding: 20px;
}